@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primeira-cor: #F4F5FB;
    --segunda-cor: #CA3884 ;
    --terceira-cor: #9CA3AF;
    --quarta-cor: #C93847;
    --quinta-cor: #080B12;
    --sexta-cor: #FFFFFF;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    background: var(--primeira-cor);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

h1 {
    color: var(--segunda-cor);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-itens {
    border: #9CA3AF;
    border-radius: 10px;
    height: 2.5em;
    width: 25em;
}

.botao-itens {
    background: var(--segunda-cor);
    color: var(--sexta-cor);
    border-radius: 10px;
    height: 3em;
    width: 10em;
    border: var(--segunda-cor);
    margin-left: 1em;
}

li {
    background: var(--sexta-cor);
    border: #9CA3AF;
    border-radius: 10px;
    list-style-type: none;
    height: 2.5em;
    width: 22.5em;
    display: flex;
    flex-direction: column;
    margin-right: 12.5em;
    margin-bottom: 1em;
}

li .apagar{
    background: var(--quarta-cor);
    border: var(--terceira-cor);
    border-radius: 5em;
    color: var(--sexta-cor);
    font-weight: bold;
    height: 2em;
    width: 1.5em;
    margin-left: 30em;
}
.botao-itens:hover {
    background-color: rgb(123, 71, 80);
    color: var(--primeira-cor);
    cursor: pointer;          
    transform: scale(1.05);    
    transition: 0.2s; 
}

.mensagem {
    background: var(--quarta-cor);
    color: var(--sexta-cor);
    font-weight: bold;
    border-radius: 8px;
    width: 20em;
   text-align: center;
}